<!DOCTYPE html>
<html lang="en" ng-app="quoteBook">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-controller="quoteCtrl">
    <!--<p>{{hello}}</p>-->
<input ng-model="searchFilter" placeholder="search">
<input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
  <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
  <button ng-click="addQuote()">Add Quote</button>
<div ng-repeat="quote in quotes | filter: searchFilter">
    <p>{{quote.text}}</p>
    <p>{{quote.author}}</p>
    <span><button ng-click="removeQuote($index)">Remove</button></span>
</div>
   
   
   
   
   
   
   
 
   
   
    <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js></script>
    <script src="app.js"></script>
    <script src="quotesService.js"></script>
    <script src="controller.js"></script>
</body>
</html>